[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnchorRegression"]
	path = AnchorRegression
	url = https://github.com/simzim96/anchorregression
